# Web Scraping for Indeed.com & Predicting Salaries

# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Project 3: Web Scraping & Logistic Regression

### Description

This week, we learned about web scraping and we have already seen classification models.  Now, we're going to put both of these skills to the test!

You're working as a data scientist for a contracting firm that's rapidly expanding. Now that they have their most valuable employee (you!), they need to leverage data to win more contracts. Your firm offers technology and scientific solutions and wants to be competitive in the hiring market. Your principal thinks the best way to gauge salary amounts is to take a look at what industry factors influence the pay scale for these professionals.

Aggregators like [Indeed.com](https://www.indeed.com) regularly pool job postings from a variety of markets and industries. Your job is to understand what factors most directly impact data science salaries and effectively, accurately find appropriate data science related jobs in your metro region.

#### Project Summary

In this project, we will practice two major skills. Collecting data by scraping a website and then building a binary predictor with Logistic Regression.

We are going to collect salary information on data science jobs in a variety of markets. Then using the **location, title, and summary of the job**, we will attempt to predict a corresponding salary for that job. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries for other listings will be extremely useful for negotiations :)

Normally we could use regression for this task; however, instead we will convert this into a classification problem and use Logistic Regression.

- **Question**: Why would we want this to be a classification problem?
- **Answer**: While more precision may be better, there is a fair amount of natural variance in job salaries; therefore, predicting a range be may be useful.

The first part of assignment will be focused on scraping [Indeed.com](www.indeed.com)  or another job aggregator and the second will be focused on using the listings with salary information to build a model and predict salaries.

Your job is to:

1. Collect data from [Indeed.com](www.indeed.com) or another job aggregator on data science salary trends for your analysis.
  - Select and parse data from at least 1000 postings for jobs, potentially from multiple location searches.
2. Find out what factors most directly impact salaries (Title, location, department, etc.). In this case, we do not want to predict mean salary as would be done in a regression. Your boss believes that salary is better represented in categories than continuously
  - Test, validate, and describe your models. What factors predict salary category? How do your models perform?
3. Author a report to your Principal detailing your analysis.

**BONUS PROBLEMS:**
1. Your boss would rather tell a client incorrectly that they would get a lower salary job than tell a client incorrectly that they would get a high salary job. Adjust one of your logistic regression models to ease his mind, and explain what it is doing and any tradeoffs. Plot the ROC curve.
2. Text variables and regularization:
  - **Part 1**: Job descriptions contain more potentially useful information you could leverage. Use the job summary to find words you think would be important and add them as predictors to a model.
  - **Part 2**: Gridsearch parameters for Ridge and Lasso for this model and report the best model.


**Goal:** Scrape & clean data, run logistic regression, derive insights, present findings.

---

### Requirements

- Scrape and prepare your data using BeautifulSoup.
- A Jupyter Notebook with your regression analysis for a peer audience of data scientists.
- A written report directed to your (non-technical!) Principal

 **Pro Tip:** You can find a good example report [here](https://www.dlsweb.rmit.edu.au/lsu/content/2_assessmenttasks/assess_tuts/reports_ll/report.pdf).

---

### Necessary Deliverables / Submission

- Materials must be in a clearly labeled Jupyter notebook.
- Materials must be pushed to student's github master branch.
- Materials must be submitted by the beggining of Week 6.

---

### Dataset

1. We'll be utilizing a dataset derived from live web data: [Indeed.com](https://www.indeed.com)

2. To get the data, we will use the requests library and BeautifulSoup to scrape the webpage.

---

### Suggested Ways to Get Started

- Read the docs for whatever technologies you use. Most of the time, there is a tutorial that you can follow, but not always, and learning to read documentation is crucial to your success!
- Document **everything**.
- Look up sample executive summaries online.

### Additional Resources
- [Advice on How to Write for a Non-Technical Audience](http://programmers.stackexchange.com/questions/11523/explaining-technical-things-to-non-technical-people)
- [Documentation for BeautifulSoup can be found here](http://www.crummy.com/software/BeautifulSoup/).

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary predictor with Logistic Regression.

We are going to collect salary information on data science jobs in a variety of markets. Then using the **location, title and summary of the job we will attempt to predict the salary of the job.** For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Question: Why would we want this to be a classification problem?
- Answer: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

The URL here has many query parameters

- `q` for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- `l` for a location 
- `start` for what result number to start on

In [1]:
URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [2]:
import requests
import bs4
import pandas as pd
from bs4 import BeautifulSoup

Let's look at one result more closely. A single `result` looks like

```
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=2480d203f7e97210&amp;jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a `nobr` element inside of a `td` element with `class='snip`.
- The title of a job is in a link with class set to `jobtitle` and a `data-tn-element="jobTitle`.  
- The location is set in a `span` with `class='location'`. 
- The company is set in a `span` with `class='company'`.

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```


- **Make sure these functions are robust and can handle cases where the data/field may not be available.**
    - Remember to check if a field is empty or `None` for attempting to call methods on it
    - Remember to use `try/except` if you anticipate errors
- **Test** the functions on the results above and simple examples

In [3]:
html = requests.get('http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10').text

In [4]:
soup = BeautifulSoup(html, 'lxml')

In [5]:
sl = soup.find_all('td', 'snip')

In [6]:
job_title = soup.find_all('h2', 'jobtitle')
for title in job_title:
    n = title.text
print len(job_title)

10

In [9]:
def extract_location_from_result(list):
    jobs_info = []
    location_info = []
    company_info = []
    salary_info = []
    sal = []
    df = {}
    # iteration over pages
    for num in list:
        print num
        html = requests.get('https://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start='+str(num)).text
        soup = BeautifulSoup(html, 'lxml')
            # extracting job title
        job_title = soup.find_all('h2', 'jobtitle')
        while len(job_title) < 10:
            job_title.append(0)
        for title in job_title:
            n = title.text
            replace = n.replace('\n','')
            jobs_info.append(replace)
            # extracting location
        location = soup.find_all('span', 'location')
        while len(location) < 10:
            location.append(0)
        for l in location:
            loc = l.text
            replace_loc = loc.replace('\n','')
            location_info.append(replace_loc)
                # extracting company name
        company = soup.find_all('span', 'company')
        while len(company) < 10:
            company.append(0)
        for c in company:
            co = c.text
            replace_co = co.replace('\n','')
            company_info.append(replace_co)
            # extracting company name
        salary = soup.find_all('td', 'snip')
        while len(salary) < 10:
            salary.append(0)
        for s in salary:
            te = s.find_all('span','no-wrap')
            sal.append(te+[None])
                    
    df['title'] = jobs_info
    df['location'] = location_info
    df['company'] = company_info
    df['salary'] = sal
    return df

In [10]:
pages = range(0, 500, 10)

In [12]:
ny = extract_location_from_result(pages)

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320

AttributeError: 'int' object has no attribute 'text'

In [19]:
html2 = requests.get('https://www.indeed.com/jobs?q=data+scientist+$20,000&l=New+York&start=330').text

In [20]:
soup2 = BeautifulSoup(html2, 'lxml')

In [21]:
job_title = soup2.find_all('span', 'company')
for t in job_title:
    print t.text

    CBS Television Network


    Gartner


    SG CIB

    DEPT OF CITYWIDE ADMIN SVCS


    MDRC


    Memorial Sloan Kettering


    Capital One


    Brookhaven National Laboratory


    Showtime


    VillageCare

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results, the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).

#### Complete the following code to collect results from multiple cities and starting points. 
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [ ]:
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 300 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.

results = []

for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami']):
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        # Append to the full set of results
        pass

In [127]:
cities = ['New+York', 'Chicago', 'San+Francisco','Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas','Denver', 'Houston']
def extract_location_from_result(list):
    jobs_info = []
    location_info = []
    company_info = []
    salary_info = []
    sal = []
    dic = {}
    # iteration over pages
    for city in list:
        print city 
        for num in range(0, 200, 10):
            print num
            html = requests.get('https://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l='+str(city)+'&start='+str(num)).text
            soup = BeautifulSoup(html, 'lxml')
            # extracting job title
            job_title = soup.find_all('h2', 'jobtitle')
            while len(job_title) < 10:
                job_title.append('0')
            for title in job_title:
                n = title.text
                replace = n.replace('\n','')
                jobs_info.append(replace)
                    # extracting location
            location = soup.find_all('span', 'location')
            while len(location) < 10:
                location.append('0')
            for l in location:
                loc = l.text
                replace_loc = loc.replace('\n','')
                location_info.append(replace_loc)
                        # extracting company name
            company = soup.find_all('span', 'company')
            while len(company) < 10:
                company.append('0')
            for c in company:
                co = c.text
                replace_co = co.replace('\n','')
                company_info.append(replace_co)
                    # extracting company name
            salary = soup.find_all('td', 'snip')
            while len(salary) < 10:
                salary.append('0')
            for s in salary:
                te = s.find_all('span','no-wrap')
                sal.append(te+['0'])
                
    dic['title'] = jobs_info
    dic['location'] = location_info
    dic['company'] = company_info
    dic['salary'] = sal
    return dic

In [160]:
data_sc = extract_location_from_result(cities)

New+York
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
Chicago
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
San+Francisco
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
Austin
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
Seattle
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
Los+Angeles
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
Philadelphia
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
Atlanta
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
Dallas
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
Denver
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
Houston
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [194]:
indeed_data = pd.DataFrame.from_dict(data_sc)
indeed_data.head()

,company,location,salary,title
0,AIG,"New York, NY",[0],Statistical Machine Learning Scientist
1,Butterfly Network,"New York, NY",[0],Machine Learning Research Scientist
2,Mount Sinai Health System,"New York, NY 10029 (Yorkville area)",[0],Data Science Intern
3,Morgan Stanley,"New York, NY 10032 (Washington Heights area)",[0],Quantitative Analyst
4,Morgan Stanley,"New York, NY 10032 (Washington Heights area)",[0],BRM Securities Lending Quantitative Analyst

In [195]:
indeed_data.shape

(2200, 4)

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

In [196]:
# removing duplicates
indeed = indeed_data.apply(lambda x: tuple(x) if type(x) is list else x)
indeed.shape

(2200, 4)

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [197]:
salary_test = []
for element in indeed.salary:
    if len(element) == 2:
        salary_test.append(element[0])
    else:
        salary_test.append(element)
salary_test

[['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $130,000 - $158,000 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $120,000 - $153,000 a year (Indeed est.)</span>,
 <span class="no-wrap">\n                $174,000 - $221,000 a year (Indeed est.)</span>,
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $98,000 - $125,000 a year (Indeed est.)</span>,
 ['0'],
 <span class="no-wrap">\n                $122,000 - $156,000 a year (Indeed est.)</span>,
 <span class="no-wrap">\n                $50,000 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $12 - $15 an hour</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $70,286 - $83,784 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $59,708 - $65,678 a year</span>,
 <span class="no-wrap">\n                $14.93 - $23.73 an hour</span>,
 ['0'],
 <span class="no-wrap">\n                $59,708 - $65,678 a year</span>,
 <span class="no-wrap">\n                $14.93 - $23.73 an hour</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $70,286 - $84,753 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $10 an hour</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $50,000 - $75,000 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $50,000 - $75,000 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $55,100 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $200,000 - $300,000 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $54,000 - $58,000 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $112,684 - $141,752 a year</span>,
 ['0'],
 <span class="no-wrap">\n                $27.78 - $33.09 an hour</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $6,666 - $8,333 a month</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $32,345 - $33,545 a year</span>,
 <span class="no-wrap">\n                $5,259 - $6,941 a month</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $3,100 - $5,200 a month</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $94,000 - $120,000 a year (Indeed est.)</span>,
 <span class="no-wrap">\n                $94,000 - $120,000 a year (Indeed est.)</span>,
 <span class="no-wrap">\n                $121,000 - $155,000 a year (Indeed est.)</span>,
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $4,599 - $6,066 a month</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $4,599 - $6,066 a month</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $6,666 a month</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $8,333 - $10,000 a month</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $8,333 - $10,000 a month</span>,
 <span class="no-wrap">\n                $2,834 a month</span>,
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $3,519 a month</span>,
 <span class="no-wrap">\n                $5,400 - $6,500 a month</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $5,400 - $6,500 a month</span>,
 ['0'],
 <span class="no-wrap">\n                $6,250 - $10,833 a month</span>,
 ['0'],
 <span class="no-wrap">\n                $5,400 - $6,500 a month</span>,
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $6,250 - $10,833 a month</span>,
 <span class="no-wrap">\n                $6,250 - $10,833 a month</span>,
 ['0'],
 <span class="no-wrap">\n                $5,400 - $6,500 a month</span>,
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $6,250 - $10,833 a month</span>,
 <span class="no-wrap">\n                $6,250 - $10,833 a month</span>,
 ['0'],
 <span class="no-wrap">\n                $5,400 - $6,500 a month</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $62,000 - $79,000 a year (Indeed est.)</span>,
 <span class="no-wrap">\n                $6,666 - $7,500 a month</span>,
 <span class="no-wrap">\n                $14 - $16 an hour</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $112,000 - $142,000 a year (Indeed est.)</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $3,746 a month</span>,
 <span class="no-wrap">\n                $1,932 a month</span>,
 ['0'],
 <span class="no-wrap">\n                $5,400 - $6,500 a month</span>,
 <span class="no-wrap">\n                $3,519 a month</span>,
 <span class="no-wrap">\n                $5,000 a month</span>,
 <span class="no-wrap">\n                $6,250 - $10,833 a month</span>,
 ['0'],
 <span class="no-wrap">\n                $95,000 - $120,000 a year</span>,
 <span class="no-wrap">\n                $35 - $38 an hour</span>,
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $5,400 - $6,500 a month</span>,
 <span class="no-wrap">\n                $3,519 a month</span>,
 <span class="no-wrap">\n                $5,000 a month</span>,
 <span class="no-wrap">\n                $6,250 - $10,833 a month</span>,
 ['0'],
 <span class="no-wrap">\n                $95,000 - $120,000 a year</span>,
 <span class="no-wrap">\n                $35 - $38 an hour</span>,
 ['0'],
 <span class="no-wrap">\n                $80 - $85 an hour</span>,
 <span class="no-wrap">\n                $84,000 - $104,000 a year</span>,
 <span class="no-wrap">\n                $45,000 - $60,000 a year</span>,
 <span class="no-wrap">\n                $29,000 - $37,000 a year (Indeed est.)</span>,
 ['0'],
 <span class="no-wrap">\n                $102,000 - $130,000 a year (Indeed est.)</span>,
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $55,000 - $85,000 a year</span>,
 <span class="no-wrap">\n                $55,000 - $85,000 a year</span>,
 <span class="no-wrap">\n                $75,000 - $120,000 a year</span>,
 ['0'],
 <span class="no-wrap">\n                $110,000 - $200,000 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $90,000 - $100,000 a year</span>,
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $90,000 - $130,000 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $90,000 - $100,000 a year</span>,
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $90,000 - $130,000 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $96,000 - $122,000 a year (Indeed est.)</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $130,000 - $165,000 a year (Indeed est.)</span>,
 ['0'],
 <span class="no-wrap">\n                $149,000 - $190,000 a year (Indeed est.)</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $4,299 - $5,782 a month</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $4,299 - $5,782 a month</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $125,000 - $150,000 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 <span class="no-wrap">\n                $125,000 - $150,000 a year</span>,
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ...]

In [198]:
indeed.insert(loc=2, column='Salary',value=salary_test)
indeed= indeed.drop('salary', axis=1)

In [199]:
beta = []
for e in indeed['Salary']:
    for sublist in e:
        beta.append(sublist)

In [200]:
indeed.insert(loc=3, column='salary',value=beta)
indeed = indeed.drop('Salary', axis=1)

In [201]:
indeed

,company,location,salary,title
0,AIG,"New York, NY",0,Statistical Machine Learning Scientist
1,Butterfly Network,"New York, NY",0,Machine Learning Research Scientist
2,Mount Sinai Health System,"New York, NY 10029 (Yorkville area)",0,Data Science Intern
3,Morgan Stanley,"New York, NY 10032 (Washington Heights area)",0,Quantitative Analyst
4,Morgan Stanley,"New York, NY 10032 (Washington Heights area)",0,BRM Securities Lending Quantitative Analyst
5,Clarifai,"New York, NY",0,Internship: Applied Machine Learning
6,NBA,"New York, NY",0,Senior Data Scientist
7,State Street,"New York, NY","$130,000 - $158,000 a year",Quantitative Analyst
8,Mount Sinai Health System,"New York, NY 10029 (Yorkville area)",0,Data Science Analyst I - Mount Sinai Health Pa...
9,QBE,New York State,0,Data Science Lead (Credit Modeler)
10,Boxed,"New York, NY",0,Machine Learning Engineer
11,QBE,New York State,"$120,000 - $153,000 a year (I...",Data Science Lead (Credit Modeler)
12,Goldman Sachs,"New York, NY 10282 (Tribeca area)","$174,000 - $221,000 a year (I...",Engineering - GSAM Tech - Data Science and Mac...
13,Citi,"New York, NY 10261 (Murray Hill area)",0,"Quantitative Analysis, Winter Analyst (North A..."
14,IBM,"New York, NY 10002 (Lower East Side area)",0,Performance & Programmatic Marketing - Analyti...
15,Columbia University School of Professional...,"New York, NY",0,Adjunct Lecturer – Machine Learning
16,SiriusXM,"New York, NY 10104 (Midtown area)","$98,000 - $125,000 a year (In...","Intern, Data Science - Engineering - Part-Time"
17,Facebook,"New York, NY",0,"Assessment Science Partner, People Analytics"
18,McKinsey & Company,"New York, NY 10022 (Midtown area)","$122,000 - $156,000 a year (I...",Data Science Translator - TMT Sector
19,Oracle,"New York, NY","$50,000 a year",Student / Intern
20,Xaxis,"New York, NY",0,"Associate, Analytics"
21,Citi,"New York, NY 10261 (Murray Hill area)",0,Multi-Asset Quantitative Analyst (Structurer)
22,Credit Suisse,"New York, NY 10022 (Midtown area)",0,(AVP) – Quantitative Trading Fund – IT Busines...
23,Nielsen,"New York, NY 10003 (Greenwich Village area)",0,Research Analyst
24,UBS,"New York, NY",0,Quantitative Analyst
25,EXPERIAN,"New York, NY 10020 (Midtown area)",0,Senior Data Scientist (Open to Remote)
26,Twitter,"New York, NY",0,Machine Learning
27,Princeton Consulting Group LLC,"New York, NY",0,PhD Artificial Intelligence/Machine Learning “...
28,Medidata Solutions,"New York, NY 10003 (Greenwich Village area)",0,Sr. Business Analyst (Data Science)
29,Goldman Sachs,"New York, NY 10282 (Tribeca area)",0,"HCM, Organizational Research – Analyst/Associa..."
...,...,...,...,...
2170,Prism Genomic Medicine Inc.,"Houston, TX","$65,000 a year",Market Research Analyst
2171,American Productivity & Quality Center,"Houston, TX 77024 (Greater Memorial area)",0,Research Analyst
2172,Petrophysical Modeling Lab,"Houston, TX","$150,000 - $165,000 a year",Senior Data Scientist
2173,"Diversigen, Inc.","Houston, TX","$85,000 - $95,000 a year",Biostatistician
2174,Talent Hound Solutions LLC,"Houston, TX",0,Data Engineer
2175,Universities Space Research Association,"Houston, TX 77058 (Pasadena area)",0,Postdoctoral Fellow in Planetary Surface Proce...
2176,General Assembly,"Houston, TX",0,Junior Web Development Instructor
2177,Genscape,"Houston, TX",0,Database Developer - PostgreSQL
2178,Brown and Caldwell,"Houston, TX 77042 (West Houston area)",0,Senior Hydrogeologist/Groundwater Modeler
2179,"Sycamore Life Sciences, LLC","Houston, TX",0,Sales and Applications Specialist
2180,"Diversigen, Inc.","Houston, TX","$85,000 - $95,000 a year",Biostatistician
2181,Talent Hound Solutions LLC,"Houston, TX",0,Data Engineer
2182,Universities Space Research Association,"Houston, TX 77058 (Pasadena area)",0,Postdoctoral Fellow in Planetary Surface Proce...
2183,General Assembly,"Houston, TX",0,Junior Web Development Instructor
2184,Genscape,"Houston, TX",0,Database Developer - PostgreSQL
2185,Brown and Caldwell,"Houston, TX 77042 (West Houston area)",0,Senior Hydrogeologist/Groundwater Modeler
2186,"Sycamore Life Sciences, LLC","Houston, TX",0,Sales and Applications Specialist
2187,TechGenomics,"Houston, TX",0,Geo Data Scientist
2188,"Kleinfelder, Inc.","Houston, TX 77034",0,Technical Environmental Professional
2189,Premier Oilfield Laboratories,"Houston, TX 77041",0,Senior Account Manager
2190,BioCardia/ Baylor,"Houston, TX","$70,000 - $110,000 a year",flow cytometry specialist/ technician
2191,"Diversigen, Inc.","Houston, TX","$80,000 - $85,000 a year",Bioinformatics Scientist
2192,Element Analytics,"Houston, TX",0,Forward Deployed Engineer
2193,Bodycote,"Houston, TX 77009 (North area)",0,Heat Treatment Quality Manager
2194,Bodycote,"Houston, TX 77009 (North area)",0,Business Development Specialist and Sales Engi...
2195,Premier Oilfield Laboratories,"Houston, TX 77041",0,"Director, US Sales"
2196,Uplink Talent,"Houston, TX",0,Senior Technical Recruiter (Contract)
2197,"Brunel Energy, Inc.","Houston, TX",0,Tech Marketing Evangelist
2198,CSI Specialty Group,"Houston, TX 77054 (Medical area)","$60,000 - $74,000 a year",Sr. QC Analytical Chemist
2199,Razor,"Houston, TX","$130,000 - $185,000 a year",Data Scientist

In [202]:
for r in indeed.salary:
    if len(r) != 1:
        spl = r.split()
        print spl

[u'$130,000', u'-', u'$158,000', u'a', u'year']
[u'$120,000', u'-', u'$153,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$174,000', u'-', u'$221,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$98,000', u'-', u'$125,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$122,000', u'-', u'$156,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$50,000', u'a', u'year']
[u'$12', u'-', u'$15', u'an', u'hour']
[u'$70,286', u'-', u'$83,784', u'a', u'year']
[u'$59,708', u'-', u'$65,678', u'a', u'year']
[u'$14.93', u'-', u'$23.73', u'an', u'hour']
[u'$59,708', u'-', u'$65,678', u'a', u'year']
[u'$14.93', u'-', u'$23.73', u'an', u'hour']
[u'$70,286', u'-', u'$84,753', u'a', u'year']
[u'$10', u'an', u'hour']
[u'$50,000', u'-', u'$75,000', u'a', u'year']
[u'$50,000', u'-', u'$75,000', u'a', u'year']
[u'$55,100', u'a', u'year']
[u'$200,000', u'-', u'$300,000', u'a', u'year']
[u'$54,000', u'-', u'$58,000', u'a', u'year']
[u'$112,684', u'-', u'$141,752', u'a', u'year']
[u'$27.78', u'-', u'$33.09', u'an', u'hour']
[u'$6,666', u'-', u'$8,333', u'a', u'month']
[u'$32,345', u'-', u'$33,545', u'a', u'year']
[u'$5,259', u'-', u'$6,941', u'a', u'month']
[u'$3,100', u'-', u'$5,200', u'a', u'month']
[u'$94,000', u'-', u'$120,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$94,000', u'-', u'$120,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$121,000', u'-', u'$155,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$4,599', u'-', u'$6,066', u'a', u'month']
[u'$4,599', u'-', u'$6,066', u'a', u'month']
[u'$6,666', u'a', u'month']
[u'$8,333', u'-', u'$10,000', u'a', u'month']
[u'$8,333', u'-', u'$10,000', u'a', u'month']
[u'$2,834', u'a', u'month']
[u'$3,519', u'a', u'month']
[u'$5,400', u'-', u'$6,500', u'a', u'month']
[u'$5,400', u'-', u'$6,500', u'a', u'month']
[u'$6,250', u'-', u'$10,833', u'a', u'month']
[u'$5,400', u'-', u'$6,500', u'a', u'month']
[u'$6,250', u'-', u'$10,833', u'a', u'month']
[u'$6,250', u'-', u'$10,833', u'a', u'month']
[u'$5,400', u'-', u'$6,500', u'a', u'month']
[u'$6,250', u'-', u'$10,833', u'a', u'month']
[u'$6,250', u'-', u'$10,833', u'a', u'month']
[u'$5,400', u'-', u'$6,500', u'a', u'month']
[u'$62,000', u'-', u'$79,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$6,666', u'-', u'$7,500', u'a', u'month']
[u'$14', u'-', u'$16', u'an', u'hour']
[u'$112,000', u'-', u'$142,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$3,746', u'a', u'month']
[u'$1,932', u'a', u'month']
[u'$5,400', u'-', u'$6,500', u'a', u'month']
[u'$3,519', u'a', u'month']
[u'$5,000', u'a', u'month']
[u'$6,250', u'-', u'$10,833', u'a', u'month']
[u'$95,000', u'-', u'$120,000', u'a', u'year']
[u'$35', u'-', u'$38', u'an', u'hour']
[u'$5,400', u'-', u'$6,500', u'a', u'month']
[u'$3,519', u'a', u'month']
[u'$5,000', u'a', u'month']
[u'$6,250', u'-', u'$10,833', u'a', u'month']
[u'$95,000', u'-', u'$120,000', u'a', u'year']
[u'$35', u'-', u'$38', u'an', u'hour']
[u'$80', u'-', u'$85', u'an', u'hour']
[u'$84,000', u'-', u'$104,000', u'a', u'year']
[u'$45,000', u'-', u'$60,000', u'a', u'year']
[u'$29,000', u'-', u'$37,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$102,000', u'-', u'$130,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$55,000', u'-', u'$85,000', u'a', u'year']
[u'$55,000', u'-', u'$85,000', u'a', u'year']
[u'$75,000', u'-', u'$120,000', u'a', u'year']
[u'$110,000', u'-', u'$200,000', u'a', u'year']
[u'$90,000', u'-', u'$100,000', u'a', u'year']
[u'$90,000', u'-', u'$130,000', u'a', u'year']
[u'$90,000', u'-', u'$100,000', u'a', u'year']
[u'$90,000', u'-', u'$130,000', u'a', u'year']
[u'$96,000', u'-', u'$122,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$130,000', u'-', u'$165,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$149,000', u'-', u'$190,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$4,299', u'-', u'$5,782', u'a', u'month']
[u'$4,299', u'-', u'$5,782', u'a', u'month']
[u'$125,000', u'-', u'$150,000', u'a', u'year']
[u'$125,000', u'-', u'$150,000', u'a', u'year']
[u'$130,000', u'-', u'$140,000', u'a', u'year']
[u'$2,500', u'a', u'month']
[u'$48,000', u'-', u'$70,000', u'a', u'year']
[u'$119', u'an', u'hour']
[u'$119,000', u'-', u'$151,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$150,000', u'-', u'$250,000', u'a', u'year']
[u'$36,486', u'-', u'$46,907', u'a', u'year']
[u'$36,486', u'-', u'$46,907', u'a', u'year']
[u'$36,486', u'-', u'$46,907', u'a', u'year']
[u'$75,878', u'-', u'$112,000', u'a', u'year']
[u'$91,631', u'-', u'$119,121', u'a', u'year']
[u'$108,281', u'-', u'$140,765', u'a', u'year']
[u'$81,000', u'-', u'$103,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$107,000', u'-', u'$137,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$20,472', u'-', u'$24,000', u'a', u'year']
[u'$48,000', u'-', u'$61,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$39,000', u'-', u'$50,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$20,472', u'-', u'$24,000', u'a', u'year']
[u'$77,058', u'-', u'$100,175', u'a', u'year']
[u'$41,000', u'-', u'$54,600', u'a', u'year']
[u'$105,000', u'-', u'$134,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$78,000', u'-', u'$99,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$109,000', u'-', u'$139,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$108,000', u'-', u'$137,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$145,000', u'-', u'$160,000', u'a', u'year']
[u'$145,000', u'-', u'$160,000', u'a', u'year']
[u'$95,000', u'-', u'$120,000', u'a', u'year']
[u'$72,168', u'-', u'$155,073', u'a', u'year']
[u'$47,686', u'-', u'$64,320', u'a', u'year']
[u'$60,961', u'-', u'$76,201', u'a', u'year']
[u'$79,799', u'-', u'$103,739', u'a', u'year']
[u'$79,799', u'-', u'$123,358', u'a', u'year']
[u'$60,514', u'a', u'year']
[u'$66,955', u'-', u'$102,003', u'a', u'year']
[u'$59,600', u'-', u'$89,400', u'a', u'year']
[u'$68,400', u'-', u'$102,600', u'a', u'year']
[u'$53,000', u'a', u'year']
[u'$85,000', u'-', u'$127,500', u'a', u'year']
[u'$65,000', u'a', u'year']
[u'$37,000', u'-', u'$47,000', u'a', u'year', u'(Indeed', u'est.)']
[u'$125,000', u'-', u'$145,000', u'a', u'year']
[u'$98,000', u'-', u'$147,000', u'a', u'year']
[u'$53,200', u'-', u'$79,800', u'a', u'year']
[u'$98,000', u'-', u'$147,000', u'a', u'year']
[u'$129,000', u'-', u'$193,000', u'a', u'year']
[u'$129,000', u'-', u'$193,000', u'a', u'year']
[u'$148,500', u'-', u'$223,000', u'a', u'year']
[u'$53,200', u'-', u'$79,800', u'a', u'year']
[u'$52,000', u'a', u'year']
[u'$13', u'-', u'$15', u'an', u'hour']
[u'$65,000', u'a', u'year']
[u'$67,200', u'-', u'$100,800', u'a', u'year']
[u'$80', u'a', u'day']
[u'$129,000', u'-', u'$193,000', u'a', u'year']
[u'$25.77', u'-', u'$38.65', u'an', u'hour']
[u'$65,000', u'a', u'year']
[u'$150,000', u'-', u'$165,000', u'a', u'year']
[u'$85,000', u'-', u'$95,000', u'a', u'year']
[u'$85,000', u'-', u'$95,000', u'a', u'year']
[u'$70,000', u'-', u'$110,000', u'a', u'year']
[u'$80,000', u'-', u'$85,000', u'a', u'year']
[u'$60,000', u'-', u'$74,000', u'a', u'year']
[u'$130,000', u'-', u'$185,000', u'a', u'year']

In [203]:
sala = []
for r in indeed['salary']:
        if len(r) != 1:
            spl = r.split()
            if len(spl) == 3:
                sala.append(spl[0])
            else:
                sala.append(spl[0:3])
        else:
            sala.append(r)
sala

['0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$130,000', u'-', u'$158,000'],
 '0',
 '0',
 '0',
 [u'$120,000', u'-', u'$153,000'],
 [u'$174,000', u'-', u'$221,000'],
 '0',
 '0',
 '0',
 [u'$98,000', u'-', u'$125,000'],
 '0',
 [u'$122,000', u'-', u'$156,000'],
 u'$50,000',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$12', u'-', u'$15'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$70,286', u'-', u'$83,784'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$59,708', u'-', u'$65,678'],
 [u'$14.93', u'-', u'$23.73'],
 '0',
 [u'$59,708', u'-', u'$65,678'],
 [u'$14.93', u'-', u'$23.73'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$70,286', u'-', u'$84,753'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 u'$10',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$50,000', u'-', u'$75,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$50,000', u'-', u'$75,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 u'$55,100',
 '0',
 '0',
 '0',
 [u'$200,000', u'-', u'$300,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$54,000', u'-', u'$58,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$112,684', u'-', u'$141,752'],
 '0',
 [u'$27.78', u'-', u'$33.09'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$6,666', u'-', u'$8,333'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$32,345', u'-', u'$33,545'],
 [u'$5,259', u'-', u'$6,941'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$3,100', u'-', u'$5,200'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$94,000', u'-', u'$120,000'],
 [u'$94,000', u'-', u'$120,000'],
 [u'$121,000', u'-', u'$155,000'],
 '0',
 '0',
 '0',
 [u'$4,599', u'-', u'$6,066'],
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$4,599', u'-', u'$6,066'],
 '0',
 '0',
 '0',
 '0',
 '0',
 u'$6,666',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$8,333', u'-', u'$10,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$8,333', u'-', u'$10,000'],
 u'$2,834',
 '0',
 '0',
 u'$3,519',
 [u'$5,400', u'-', u'$6,500'],
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$5,400', u'-', u'$6,500'],
 '0',
 [u'$6,250', u'-', u'$10,833'],
 '0',
 [u'$5,400', u'-', u'$6,500'],
 '0',
 '0',
 [u'$6,250', u'-', u'$10,833'],
 [u'$6,250', u'-', u'$10,833'],
 '0',
 [u'$5,400', u'-', u'$6,500'],
 '0',
 '0',
 '0',
 [u'$6,250', u'-', u'$10,833'],
 [u'$6,250', u'-', u'$10,833'],
 '0',
 [u'$5,400', u'-', u'$6,500'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$62,000', u'-', u'$79,000'],
 [u'$6,666', u'-', u'$7,500'],
 [u'$14', u'-', u'$16'],
 '0',
 '0',
 '0',
 '0',
 [u'$112,000', u'-', u'$142,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 u'$3,746',
 u'$1,932',
 '0',
 [u'$5,400', u'-', u'$6,500'],
 u'$3,519',
 u'$5,000',
 [u'$6,250', u'-', u'$10,833'],
 '0',
 [u'$95,000', u'-', u'$120,000'],
 [u'$35', u'-', u'$38'],
 '0',
 '0',
 [u'$5,400', u'-', u'$6,500'],
 u'$3,519',
 u'$5,000',
 [u'$6,250', u'-', u'$10,833'],
 '0',
 [u'$95,000', u'-', u'$120,000'],
 [u'$35', u'-', u'$38'],
 '0',
 [u'$80', u'-', u'$85'],
 [u'$84,000', u'-', u'$104,000'],
 [u'$45,000', u'-', u'$60,000'],
 [u'$29,000', u'-', u'$37,000'],
 '0',
 [u'$102,000', u'-', u'$130,000'],
 '0',
 '0',
 '0',
 [u'$55,000', u'-', u'$85,000'],
 [u'$55,000', u'-', u'$85,000'],
 [u'$75,000', u'-', u'$120,000'],
 '0',
 [u'$110,000', u'-', u'$200,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$90,000', u'-', u'$100,000'],
 '0',
 '0',
 [u'$90,000', u'-', u'$130,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$90,000', u'-', u'$100,000'],
 '0',
 '0',
 [u'$90,000', u'-', u'$130,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$96,000', u'-', u'$122,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$130,000', u'-', u'$165,000'],
 '0',
 [u'$149,000', u'-', u'$190,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$4,299', u'-', u'$5,782'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$4,299', u'-', u'$5,782'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$125,000', u'-', u'$150,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 [u'$125,000', u'-', u'$150,000'],
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 ...]

In [204]:
indeed.insert(loc=2, column='salario',value=sala)

In [205]:
indeed = indeed.drop('salary',axis=1)

In [209]:
indeed

,company,location,salario,title
0,AIG,"New York, NY",0,Statistical Machine Learning Scientist
1,Butterfly Network,"New York, NY",0,Machine Learning Research Scientist
2,Mount Sinai Health System,"New York, NY 10029 (Yorkville area)",0,Data Science Intern
3,Morgan Stanley,"New York, NY 10032 (Washington Heights area)",0,Quantitative Analyst
4,Morgan Stanley,"New York, NY 10032 (Washington Heights area)",0,BRM Securities Lending Quantitative Analyst
5,Clarifai,"New York, NY",0,Internship: Applied Machine Learning
6,NBA,"New York, NY",0,Senior Data Scientist
7,State Street,"New York, NY","[$130,000, -, $158,000]",Quantitative Analyst
8,Mount Sinai Health System,"New York, NY 10029 (Yorkville area)",0,Data Science Analyst I - Mount Sinai Health Pa...
9,QBE,New York State,0,Data Science Lead (Credit Modeler)
10,Boxed,"New York, NY",0,Machine Learning Engineer
11,QBE,New York State,"[$120,000, -, $153,000]",Data Science Lead (Credit Modeler)
12,Goldman Sachs,"New York, NY 10282 (Tribeca area)","[$174,000, -, $221,000]",Engineering - GSAM Tech - Data Science and Mac...
13,Citi,"New York, NY 10261 (Murray Hill area)",0,"Quantitative Analysis, Winter Analyst (North A..."
14,IBM,"New York, NY 10002 (Lower East Side area)",0,Performance & Programmatic Marketing - Analyti...
15,Columbia University School of Professional...,"New York, NY",0,Adjunct Lecturer – Machine Learning
16,SiriusXM,"New York, NY 10104 (Midtown area)","[$98,000, -, $125,000]","Intern, Data Science - Engineering - Part-Time"
17,Facebook,"New York, NY",0,"Assessment Science Partner, People Analytics"
18,McKinsey & Company,"New York, NY 10022 (Midtown area)","[$122,000, -, $156,000]",Data Science Translator - TMT Sector
19,Oracle,"New York, NY","$50,000",Student / Intern
20,Xaxis,"New York, NY",0,"Associate, Analytics"
21,Citi,"New York, NY 10261 (Murray Hill area)",0,Multi-Asset Quantitative Analyst (Structurer)
22,Credit Suisse,"New York, NY 10022 (Midtown area)",0,(AVP) – Quantitative Trading Fund – IT Busines...
23,Nielsen,"New York, NY 10003 (Greenwich Village area)",0,Research Analyst
24,UBS,"New York, NY",0,Quantitative Analyst
25,EXPERIAN,"New York, NY 10020 (Midtown area)",0,Senior Data Scientist (Open to Remote)
26,Twitter,"New York, NY",0,Machine Learning
27,Princeton Consulting Group LLC,"New York, NY",0,PhD Artificial Intelligence/Machine Learning “...
28,Medidata Solutions,"New York, NY 10003 (Greenwich Village area)",0,Sr. Business Analyst (Data Science)
29,Goldman Sachs,"New York, NY 10282 (Tribeca area)",0,"HCM, Organizational Research – Analyst/Associa..."
...,...,...,...,...
2170,Prism Genomic Medicine Inc.,"Houston, TX","$65,000",Market Research Analyst
2171,American Productivity & Quality Center,"Houston, TX 77024 (Greater Memorial area)",0,Research Analyst
2172,Petrophysical Modeling Lab,"Houston, TX","[$150,000, -, $165,000]",Senior Data Scientist
2173,"Diversigen, Inc.","Houston, TX","[$85,000, -, $95,000]",Biostatistician
2174,Talent Hound Solutions LLC,"Houston, TX",0,Data Engineer
2175,Universities Space Research Association,"Houston, TX 77058 (Pasadena area)",0,Postdoctoral Fellow in Planetary Surface Proce...
2176,General Assembly,"Houston, TX",0,Junior Web Development Instructor
2177,Genscape,"Houston, TX",0,Database Developer - PostgreSQL
2178,Brown and Caldwell,"Houston, TX 77042 (West Houston area)",0,Senior Hydrogeologist/Groundwater Modeler
2179,"Sycamore Life Sciences, LLC","Houston, TX",0,Sales and Applications Specialist
2180,"Diversigen, Inc.","Houston, TX","[$85,000, -, $95,000]",Biostatistician
2181,Talent Hound Solutions LLC,"Houston, TX",0,Data Engineer
2182,Universities Space Research Association,"Houston, TX 77058 (Pasadena area)",0,Postdoctoral Fellow in Planetary Surface Proce...
2183,General Assembly,"Houston, TX",0,Junior Web Development Instructor
2184,Genscape,"Houston, TX",0,Database Developer - PostgreSQL
2185,Brown and Caldwell,"Houston, TX 77042 (West Houston area)",0,Senior Hydrogeologist/Groundwater Modeler
2186,"Sycamore Life Sciences, LLC","Houston, TX",0,Sales and Applications Specialist
2187,TechGenomics,"Houston, TX",0,Geo Data Scientist
2188,"Kleinfelder, Inc.","Houston, TX 77034",0,Technical Environmental Professional
2189,Premier Oilfield Laboratories,"Houston, TX 77041",0,Senior Account Manager
2190,BioCardia/ Baylor,"Houston, TX","[$70,000, -, $110,000]",flow cytometry specialist/ technician
2191,"Diversigen, Inc.","Houston, TX","[$80,000, -, $85,000]",Bioinformatics Scientist
2192,Element Analytics,"Houston, TX",0,Forward Deployed Engineer
2193,Bodycote,"Houston, TX 77009 (North area)",0,Heat Treatment Quality Manager
2194,Bodycote,"Houston, TX 77009 (North area)",0,Business Development Specialist and Sales Engi...
2195,Premier Oilfield Laboratories,"Houston, TX 77041",0,"Director, US Sales"
2196,Uplink Talent,"Houston, TX",0,Senior Technical Recruiter (Contract)
2197,"Brunel Energy, Inc.","Houston, TX",0,Tech Marketing Evangelist
2198,CSI Specialty Group,"Houston, TX 77054 (Medical area)","[$60,000, -, $74,000]",Sr. QC Analytical Chemist
2199,Razor,"Houston, TX","[$130,000, -, $185,000]",Data Scientist

In [210]:
for k,i in enumerate(indeed.salario):
    if len(i) == 3:
        print k
        print i
        print len(i)

7
[u'$130,000', u'-', u'$158,000']
3
11
[u'$120,000', u'-', u'$153,000']
3
12
[u'$174,000', u'-', u'$221,000']
3
16
[u'$98,000', u'-', u'$125,000']
3
18
[u'$122,000', u'-', u'$156,000']
3
67
[u'$12', u'-', u'$15']
3
97
[u'$70,286', u'-', u'$83,784']
3
108
[u'$59,708', u'-', u'$65,678']
3
109
[u'$14.93', u'-', u'$23.73']
3
111
[u'$59,708', u'-', u'$65,678']
3
112
[u'$14.93', u'-', u'$23.73']
3
126
[u'$70,286', u'-', u'$84,753']
3
291
$10
3
378
[u'$50,000', u'-', u'$75,000']
3
385
[u'$50,000', u'-', u'$75,000']
3
475
[u'$200,000', u'-', u'$300,000']
3
506
[u'$54,000', u'-', u'$58,000']
3
593
[u'$112,684', u'-', u'$141,752']
3
595
[u'$27.78', u'-', u'$33.09']
3
616
[u'$6,666', u'-', u'$8,333']
3
630
[u'$32,345', u'-', u'$33,545']
3
631
[u'$5,259', u'-', u'$6,941']
3
644
[u'$3,100', u'-', u'$5,200']
3
652
[u'$94,000', u'-', u'$120,000']
3
653
[u'$94,000', u'-', u'$120,000']
3
654
[u'$121,000', u'-', u'$155,000']
3
658
[u'$4,599', u'-', u'$6,066']
3
664
[u'$4,599', u'-', u'$6,066']
3
679
[u'$8,333', u'-', u'$10,000']
3
686
[u'$8,333', u'-', u'$10,000']
3
691
[u'$5,400', u'-', u'$6,500']
3
697
[u'$5,400', u'-', u'$6,500']
3
699
[u'$6,250', u'-', u'$10,833']
3
701
[u'$5,400', u'-', u'$6,500']
3
704
[u'$6,250', u'-', u'$10,833']
3
705
[u'$6,250', u'-', u'$10,833']
3
707
[u'$5,400', u'-', u'$6,500']
3
711
[u'$6,250', u'-', u'$10,833']
3
712
[u'$6,250', u'-', u'$10,833']
3
714
[u'$5,400', u'-', u'$6,500']
3
722
[u'$62,000', u'-', u'$79,000']
3
723
[u'$6,666', u'-', u'$7,500']
3
724
[u'$14', u'-', u'$16']
3
729
[u'$112,000', u'-', u'$142,000']
3
742
[u'$5,400', u'-', u'$6,500']
3
745
[u'$6,250', u'-', u'$10,833']
3
747
[u'$95,000', u'-', u'$120,000']
3
748
[u'$35', u'-', u'$38']
3
751
[u'$5,400', u'-', u'$6,500']
3
754
[u'$6,250', u'-', u'$10,833']
3
756
[u'$95,000', u'-', u'$120,000']
3
757
[u'$35', u'-', u'$38']
3
759
[u'$80', u'-', u'$85']
3
760
[u'$84,000', u'-', u'$104,000']
3
761
[u'$45,000', u'-', u'$60,000']
3
762
[u'$29,000', u'-', u'$37,000']
3
764
[u'$102,000', u'-', u'$130,000']
3
768
[u'$55,000', u'-', u'$85,000']
3
769
[u'$55,000', u'-', u'$85,000']
3
770
[u'$75,000', u'-', u'$120,000']
3
772
[u'$110,000', u'-', u'$200,000']
3
782
[u'$90,000', u'-', u'$100,000']
3
785
[u'$90,000', u'-', u'$130,000']
3
792
[u'$90,000', u'-', u'$100,000']
3
795
[u'$90,000', u'-', u'$130,000']
3
890
[u'$96,000', u'-', u'$122,000']
3
897
[u'$130,000', u'-', u'$165,000']
3
899
[u'$149,000', u'-', u'$190,000']
3
908
[u'$4,299', u'-', u'$5,782']
3
915
[u'$4,299', u'-', u'$5,782']
3
936
[u'$125,000', u'-', u'$150,000']
3
955
[u'$125,000', u'-', u'$150,000']
3
1019
[u'$130,000', u'-', u'$140,000']
3
1138
[u'$48,000', u'-', u'$70,000']
3
1199
[u'$119,000', u'-', u'$151,000']
3
1307
[u'$150,000', u'-', u'$250,000']
3
1335
[u'$36,486', u'-', u'$46,907']
3
1341
[u'$36,486', u'-', u'$46,907']
3
1353
[u'$36,486', u'-', u'$46,907']
3
1393
[u'$75,878', u'-', u'$112,000']
3
1402
[u'$91,631', u'-', u'$119,121']
3
1423
[u'$108,281', u'-', u'$140,765']
3
1453
[u'$81,000', u'-', u'$103,000']
3
1455
[u'$107,000', u'-', u'$137,000']
3
1456
[u'$20,472', u'-', u'$24,000']
3
1458
[u'$48,000', u'-', u'$61,000']
3
1459
[u'$39,000', u'-', u'$50,000']
3
1464
[u'$20,472', u'-', u'$24,000']
3
1478
[u'$77,058', u'-', u'$100,175']
3
1568
[u'$41,000', u'-', u'$54,600']
3
1730
[u'$105,000', u'-', u'$134,000']
3
1731
[u'$78,000', u'-', u'$99,000']
3
1734
[u'$109,000', u'-', u'$139,000']
3
1736
[u'$108,000', u'-', u'$137,000']
3
1748
[u'$145,000', u'-', u'$160,000']
3
1759
[u'$145,000', u'-', u'$160,000']
3
1789
[u'$95,000', u'-', u'$120,000']
3
1825
[u'$72,168', u'-', u'$155,073']
3
1892
[u'$47,686', u'-', u'$64,320']
3
1923
[u'$60,961', u'-', u'$76,201']
3
1926
[u'$79,799', u'-', u'$103,739']
3
1927
[u'$79,799', u'-', u'$123,358']
3
1986
[u'$66,955', u'-', u'$102,003']
3
2002
[u'$59,600', u'-', u'$89,400']
3
2004
[u'$68,400', u'-', u'$102,600']
3
2026
[u'$85,000', u'-', u'$127,500']
3
2055
[u'$37,000', u'-', u'$47,000']
3
2084
[u'$125,000', u'-', u'$145,000']
3
2098
[u'$98,000', u'-', u'$147,000']
3
2100
[u'$53,200', u'-', u'$79,800']
3
2117
[u'$98,000', u'-', u'$147,000']
3
2119
[u'$129,000', u'-', u'$193,000']
3
2120
[u'$129,000', u'-', u'$193,000']
3
2121
[u'$148,500', u'-', u'$223,000']
3
2127
[u'$53,200', u'-', u'$79,800']
3
2144
[u'$13', u'-', u'$15']
3
2149
[u'$67,200', u'-', u'$100,800']
3
2161
$80
3
2164
[u'$129,000', u'-', u'$193,000']
3
2166
[u'$25.77', u'-', u'$38.65']
3
2172
[u'$150,000', u'-', u'$165,000']
3
2173
[u'$85,000', u'-', u'$95,000']
3
2180
[u'$85,000', u'-', u'$95,000']
3
2190
[u'$70,000', u'-', u'$110,000']
3
2191
[u'$80,000', u'-', u'$85,000']
3
2198
[u'$60,000', u'-', u'$74,000']
3
2199
[u'$130,000', u'-', u'$185,000']
3

In [211]:
indeed = indeed.drop([291,2161],axis=0)

In [212]:
indeed.shape

(2198, 4)

In [213]:
for k,i in enumerate(indeed.salario):
    if len(i) == 3:
        print k
        print i
        print len(i)

7
[u'$130,000', u'-', u'$158,000']
3
11
[u'$120,000', u'-', u'$153,000']
3
12
[u'$174,000', u'-', u'$221,000']
3
16
[u'$98,000', u'-', u'$125,000']
3
18
[u'$122,000', u'-', u'$156,000']
3
67
[u'$12', u'-', u'$15']
3
97
[u'$70,286', u'-', u'$83,784']
3
108
[u'$59,708', u'-', u'$65,678']
3
109
[u'$14.93', u'-', u'$23.73']
3
111
[u'$59,708', u'-', u'$65,678']
3
112
[u'$14.93', u'-', u'$23.73']
3
126
[u'$70,286', u'-', u'$84,753']
3
377
[u'$50,000', u'-', u'$75,000']
3
384
[u'$50,000', u'-', u'$75,000']
3
474
[u'$200,000', u'-', u'$300,000']
3
505
[u'$54,000', u'-', u'$58,000']
3
592
[u'$112,684', u'-', u'$141,752']
3
594
[u'$27.78', u'-', u'$33.09']
3
615
[u'$6,666', u'-', u'$8,333']
3
629
[u'$32,345', u'-', u'$33,545']
3
630
[u'$5,259', u'-', u'$6,941']
3
643
[u'$3,100', u'-', u'$5,200']
3
651
[u'$94,000', u'-', u'$120,000']
3
652
[u'$94,000', u'-', u'$120,000']
3
653
[u'$121,000', u'-', u'$155,000']
3
657
[u'$4,599', u'-', u'$6,066']
3
663
[u'$4,599', u'-', u'$6,066']
3
678
[u'$8,333', u'-', u'$10,000']
3
685
[u'$8,333', u'-', u'$10,000']
3
690
[u'$5,400', u'-', u'$6,500']
3
696
[u'$5,400', u'-', u'$6,500']
3
698
[u'$6,250', u'-', u'$10,833']
3
700
[u'$5,400', u'-', u'$6,500']
3
703
[u'$6,250', u'-', u'$10,833']
3
704
[u'$6,250', u'-', u'$10,833']
3
706
[u'$5,400', u'-', u'$6,500']
3
710
[u'$6,250', u'-', u'$10,833']
3
711
[u'$6,250', u'-', u'$10,833']
3
713
[u'$5,400', u'-', u'$6,500']
3
721
[u'$62,000', u'-', u'$79,000']
3
722
[u'$6,666', u'-', u'$7,500']
3
723
[u'$14', u'-', u'$16']
3
728
[u'$112,000', u'-', u'$142,000']
3
741
[u'$5,400', u'-', u'$6,500']
3
744
[u'$6,250', u'-', u'$10,833']
3
746
[u'$95,000', u'-', u'$120,000']
3
747
[u'$35', u'-', u'$38']
3
750
[u'$5,400', u'-', u'$6,500']
3
753
[u'$6,250', u'-', u'$10,833']
3
755
[u'$95,000', u'-', u'$120,000']
3
756
[u'$35', u'-', u'$38']
3
758
[u'$80', u'-', u'$85']
3
759
[u'$84,000', u'-', u'$104,000']
3
760
[u'$45,000', u'-', u'$60,000']
3
761
[u'$29,000', u'-', u'$37,000']
3
763
[u'$102,000', u'-', u'$130,000']
3
767
[u'$55,000', u'-', u'$85,000']
3
768
[u'$55,000', u'-', u'$85,000']
3
769
[u'$75,000', u'-', u'$120,000']
3
771
[u'$110,000', u'-', u'$200,000']
3
781
[u'$90,000', u'-', u'$100,000']
3
784
[u'$90,000', u'-', u'$130,000']
3
791
[u'$90,000', u'-', u'$100,000']
3
794
[u'$90,000', u'-', u'$130,000']
3
889
[u'$96,000', u'-', u'$122,000']
3
896
[u'$130,000', u'-', u'$165,000']
3
898
[u'$149,000', u'-', u'$190,000']
3
907
[u'$4,299', u'-', u'$5,782']
3
914
[u'$4,299', u'-', u'$5,782']
3
935
[u'$125,000', u'-', u'$150,000']
3
954
[u'$125,000', u'-', u'$150,000']
3
1018
[u'$130,000', u'-', u'$140,000']
3
1137
[u'$48,000', u'-', u'$70,000']
3
1198
[u'$119,000', u'-', u'$151,000']
3
1306
[u'$150,000', u'-', u'$250,000']
3
1334
[u'$36,486', u'-', u'$46,907']
3
1340
[u'$36,486', u'-', u'$46,907']
3
1352
[u'$36,486', u'-', u'$46,907']
3
1392
[u'$75,878', u'-', u'$112,000']
3
1401
[u'$91,631', u'-', u'$119,121']
3
1422
[u'$108,281', u'-', u'$140,765']
3
1452
[u'$81,000', u'-', u'$103,000']
3
1454
[u'$107,000', u'-', u'$137,000']
3
1455
[u'$20,472', u'-', u'$24,000']
3
1457
[u'$48,000', u'-', u'$61,000']
3
1458
[u'$39,000', u'-', u'$50,000']
3
1463
[u'$20,472', u'-', u'$24,000']
3
1477
[u'$77,058', u'-', u'$100,175']
3
1567
[u'$41,000', u'-', u'$54,600']
3
1729
[u'$105,000', u'-', u'$134,000']
3
1730
[u'$78,000', u'-', u'$99,000']
3
1733
[u'$109,000', u'-', u'$139,000']
3
1735
[u'$108,000', u'-', u'$137,000']
3
1747
[u'$145,000', u'-', u'$160,000']
3
1758
[u'$145,000', u'-', u'$160,000']
3
1788
[u'$95,000', u'-', u'$120,000']
3
1824
[u'$72,168', u'-', u'$155,073']
3
1891
[u'$47,686', u'-', u'$64,320']
3
1922
[u'$60,961', u'-', u'$76,201']
3
1925
[u'$79,799', u'-', u'$103,739']
3
1926
[u'$79,799', u'-', u'$123,358']
3
1985
[u'$66,955', u'-', u'$102,003']
3
2001
[u'$59,600', u'-', u'$89,400']
3
2003
[u'$68,400', u'-', u'$102,600']
3
2025
[u'$85,000', u'-', u'$127,500']
3
2054
[u'$37,000', u'-', u'$47,000']
3
2083
[u'$125,000', u'-', u'$145,000']
3
2097
[u'$98,000', u'-', u'$147,000']
3
2099
[u'$53,200', u'-', u'$79,800']
3
2116
[u'$98,000', u'-', u'$147,000']
3
2118
[u'$129,000', u'-', u'$193,000']
3
2119
[u'$129,000', u'-', u'$193,000']
3
2120
[u'$148,500', u'-', u'$223,000']
3
2126
[u'$53,200', u'-', u'$79,800']
3
2143
[u'$13', u'-', u'$15']
3
2148
[u'$67,200', u'-', u'$100,800']
3
2162
[u'$129,000', u'-', u'$193,000']
3
2164
[u'$25.77', u'-', u'$38.65']
3
2170
[u'$150,000', u'-', u'$165,000']
3
2171
[u'$85,000', u'-', u'$95,000']
3
2178
[u'$85,000', u'-', u'$95,000']
3
2188
[u'$70,000', u'-', u'$110,000']
3
2189
[u'$80,000', u'-', u'$85,000']
3
2196
[u'$60,000', u'-', u'$74,000']
3
2197
[u'$130,000', u'-', u'$185,000']
3

In [215]:
salari = []
for i in indeed.salario:
    if len(i) == 1:
        salari.append(i)
    elif len(i) == 3:
        first_value = i[0]
        repla = first_value.replace('$','')
        repl = repla.replace(',','')
        last = repl.replace('.','')
        first_num = int(last)
        second_value = i[2]
        pl = second_value.replace('$','')
        lp = pl.replace(',','')
        ult = lp.replace('.','')
        second_num = int(ult)
        math = (first_num+second_num)/2
        salari.append(float(math))
    else:
        salari.append(i)

In [216]:
indeed.insert(loc=2, column='salari',value=salari)

In [217]:
indeed

,company,location,salari,salario,title
0,AIG,"New York, NY",0,0,Statistical Machine Learning Scientist
1,Butterfly Network,"New York, NY",0,0,Machine Learning Research Scientist
2,Mount Sinai Health System,"New York, NY 10029 (Yorkville area)",0,0,Data Science Intern
3,Morgan Stanley,"New York, NY 10032 (Washington Heights area)",0,0,Quantitative Analyst
4,Morgan Stanley,"New York, NY 10032 (Washington Heights area)",0,0,BRM Securities Lending Quantitative Analyst
5,Clarifai,"New York, NY",0,0,Internship: Applied Machine Learning
6,NBA,"New York, NY",0,0,Senior Data Scientist
7,State Street,"New York, NY",144000,"[$130,000, -, $158,000]",Quantitative Analyst
8,Mount Sinai Health System,"New York, NY 10029 (Yorkville area)",0,0,Data Science Analyst I - Mount Sinai Health Pa...
9,QBE,New York State,0,0,Data Science Lead (Credit Modeler)
10,Boxed,"New York, NY",0,0,Machine Learning Engineer
11,QBE,New York State,136500,"[$120,000, -, $153,000]",Data Science Lead (Credit Modeler)
12,Goldman Sachs,"New York, NY 10282 (Tribeca area)",197500,"[$174,000, -, $221,000]",Engineering - GSAM Tech - Data Science and Mac...
13,Citi,"New York, NY 10261 (Murray Hill area)",0,0,"Quantitative Analysis, Winter Analyst (North A..."
14,IBM,"New York, NY 10002 (Lower East Side area)",0,0,Performance & Programmatic Marketing - Analyti...
15,Columbia University School of Professional...,"New York, NY",0,0,Adjunct Lecturer – Machine Learning
16,SiriusXM,"New York, NY 10104 (Midtown area)",111500,"[$98,000, -, $125,000]","Intern, Data Science - Engineering - Part-Time"
17,Facebook,"New York, NY",0,0,"Assessment Science Partner, People Analytics"
18,McKinsey & Company,"New York, NY 10022 (Midtown area)",139000,"[$122,000, -, $156,000]",Data Science Translator - TMT Sector
19,Oracle,"New York, NY","$50,000","$50,000",Student / Intern
20,Xaxis,"New York, NY",0,0,"Associate, Analytics"
21,Citi,"New York, NY 10261 (Murray Hill area)",0,0,Multi-Asset Quantitative Analyst (Structurer)
22,Credit Suisse,"New York, NY 10022 (Midtown area)",0,0,(AVP) – Quantitative Trading Fund – IT Busines...
23,Nielsen,"New York, NY 10003 (Greenwich Village area)",0,0,Research Analyst
24,UBS,"New York, NY",0,0,Quantitative Analyst
25,EXPERIAN,"New York, NY 10020 (Midtown area)",0,0,Senior Data Scientist (Open to Remote)
26,Twitter,"New York, NY",0,0,Machine Learning
27,Princeton Consulting Group LLC,"New York, NY",0,0,PhD Artificial Intelligence/Machine Learning “...
28,Medidata Solutions,"New York, NY 10003 (Greenwich Village area)",0,0,Sr. Business Analyst (Data Science)
29,Goldman Sachs,"New York, NY 10282 (Tribeca area)",0,0,"HCM, Organizational Research – Analyst/Associa..."
...,...,...,...,...,...
2170,Prism Genomic Medicine Inc.,"Houston, TX","$65,000","$65,000",Market Research Analyst
2171,American Productivity & Quality Center,"Houston, TX 77024 (Greater Memorial area)",0,0,Research Analyst
2172,Petrophysical Modeling Lab,"Houston, TX",157500,"[$150,000, -, $165,000]",Senior Data Scientist
2173,"Diversigen, Inc.","Houston, TX",90000,"[$85,000, -, $95,000]",Biostatistician
2174,Talent Hound Solutions LLC,"Houston, TX",0,0,Data Engineer
2175,Universities Space Research Association,"Houston, TX 77058 (Pasadena area)",0,0,Postdoctoral Fellow in Planetary Surface Proce...
2176,General Assembly,"Houston, TX",0,0,Junior Web Development Instructor
2177,Genscape,"Houston, TX",0,0,Database Developer - PostgreSQL
2178,Brown and Caldwell,"Houston, TX 77042 (West Houston area)",0,0,Senior Hydrogeologist/Groundwater Modeler
2179,"Sycamore Life Sciences, LLC","Houston, TX",0,0,Sales and Applications Specialist
2180,"Diversigen, Inc.","Houston, TX",90000,"[$85,000, -, $95,000]",Biostatistician
2181,Talent Hound Solutions LLC,"Houston, TX",0,0,Data Engineer
2182,Universities Space Research Association,"Houston, TX 77058 (Pasadena area)",0,0,Postdoctoral Fellow in Planetary Surface Proce...
2183,General Assembly,"Houston, TX",0,0,Junior Web Development Instructor
2184,Genscape,"Houston, TX",0,0,Database Developer - PostgreSQL
2185,Brown and Caldwell,"Houston, TX 77042 (West Houston area)",0,0,Senior Hydrogeologist/Groundwater Modeler
2186,"Sycamore Life Sciences, LLC","Houston, TX",0,0,Sales and Applications Specialist
2187,TechGenomics,"Houston, TX",0,0,Geo Data Scientist
2188,"Kleinfelder, Inc.","Houston, TX 77034",0,0,Technical Environmental Professional
2189,Premier Oilfield Laboratories,"Houston, TX 77041",0,0,Senior Account Manager
2190,BioCardia/ Baylor,"Houston, TX",90000,"[$70,000, -, $110,000]",flow cytometry specialist/ technician
2191,"Diversigen, Inc.","Houston, TX",82500,"[$80,000, -, $85,000]",Bioinformatics Scientist
2192,Element Analytics,"Houston, TX",0,0,Forward Deployed Engineer
2193,Bodycote,"Houston, TX 77009 (North area)",0,0,Heat Treatment Quality Manager
2194,Bodycote,"Houston, TX 77009 (North area)",0,0,Business Development Specialist and Sales Engi...
2195,Premier Oilfield Laboratories,"Houston, TX 77041",0,0,"Director, US Sales"
2196,Uplink Talent,"Houston, TX",0,0,Senior Technical Recruiter (Contract)
2197,"Brunel Energy, Inc.","Houston, TX",0,0,Tech Marketing Evangelist
2198,CSI Specialty Group,"Houston, TX 77054 (Medical area)",67000,"[$60,000, -, $74,000]",Sr. QC Analytical Chemist
2199,Razor,"Houston, TX",157500,"[$130,000, -, $185,000]",Data Scientist

In [218]:
indeed = indeed.drop('salario',axis=1)

In [219]:
indeed['salari'] = indeed['salari'].astype(str)

In [220]:
indeed['salari'] = indeed['salari'].apply(lambda x: x.replace('$',''))

In [221]:
indeed['salari'] = indeed['salari'].apply(lambda x: x.replace(',',''))

In [222]:
indeed['salari'] = indeed['salari'].astype(float)

In [223]:
indeed

,company,location,salari,title
0,AIG,"New York, NY",0.0,Statistical Machine Learning Scientist
1,Butterfly Network,"New York, NY",0.0,Machine Learning Research Scientist
2,Mount Sinai Health System,"New York, NY 10029 (Yorkville area)",0.0,Data Science Intern
3,Morgan Stanley,"New York, NY 10032 (Washington Heights area)",0.0,Quantitative Analyst
4,Morgan Stanley,"New York, NY 10032 (Washington Heights area)",0.0,BRM Securities Lending Quantitative Analyst
5,Clarifai,"New York, NY",0.0,Internship: Applied Machine Learning
6,NBA,"New York, NY",0.0,Senior Data Scientist
7,State Street,"New York, NY",144000.0,Quantitative Analyst
8,Mount Sinai Health System,"New York, NY 10029 (Yorkville area)",0.0,Data Science Analyst I - Mount Sinai Health Pa...
9,QBE,New York State,0.0,Data Science Lead (Credit Modeler)
10,Boxed,"New York, NY",0.0,Machine Learning Engineer
11,QBE,New York State,136500.0,Data Science Lead (Credit Modeler)
12,Goldman Sachs,"New York, NY 10282 (Tribeca area)",197500.0,Engineering - GSAM Tech - Data Science and Mac...
13,Citi,"New York, NY 10261 (Murray Hill area)",0.0,"Quantitative Analysis, Winter Analyst (North A..."
14,IBM,"New York, NY 10002 (Lower East Side area)",0.0,Performance & Programmatic Marketing - Analyti...
15,Columbia University School of Professional...,"New York, NY",0.0,Adjunct Lecturer – Machine Learning
16,SiriusXM,"New York, NY 10104 (Midtown area)",111500.0,"Intern, Data Science - Engineering - Part-Time"
17,Facebook,"New York, NY",0.0,"Assessment Science Partner, People Analytics"
18,McKinsey & Company,"New York, NY 10022 (Midtown area)",139000.0,Data Science Translator - TMT Sector
19,Oracle,"New York, NY",50000.0,Student / Intern
20,Xaxis,"New York, NY",0.0,"Associate, Analytics"
21,Citi,"New York, NY 10261 (Murray Hill area)",0.0,Multi-Asset Quantitative Analyst (Structurer)
22,Credit Suisse,"New York, NY 10022 (Midtown area)",0.0,(AVP) – Quantitative Trading Fund – IT Busines...
23,Nielsen,"New York, NY 10003 (Greenwich Village area)",0.0,Research Analyst
24,UBS,"New York, NY",0.0,Quantitative Analyst
25,EXPERIAN,"New York, NY 10020 (Midtown area)",0.0,Senior Data Scientist (Open to Remote)
26,Twitter,"New York, NY",0.0,Machine Learning
27,Princeton Consulting Group LLC,"New York, NY",0.0,PhD Artificial Intelligence/Machine Learning “...
28,Medidata Solutions,"New York, NY 10003 (Greenwich Village area)",0.0,Sr. Business Analyst (Data Science)
29,Goldman Sachs,"New York, NY 10282 (Tribeca area)",0.0,"HCM, Organizational Research – Analyst/Associa..."
...,...,...,...,...
2170,Prism Genomic Medicine Inc.,"Houston, TX",65000.0,Market Research Analyst
2171,American Productivity & Quality Center,"Houston, TX 77024 (Greater Memorial area)",0.0,Research Analyst
2172,Petrophysical Modeling Lab,"Houston, TX",157500.0,Senior Data Scientist
2173,"Diversigen, Inc.","Houston, TX",90000.0,Biostatistician
2174,Talent Hound Solutions LLC,"Houston, TX",0.0,Data Engineer
2175,Universities Space Research Association,"Houston, TX 77058 (Pasadena area)",0.0,Postdoctoral Fellow in Planetary Surface Proce...
2176,General Assembly,"Houston, TX",0.0,Junior Web Development Instructor
2177,Genscape,"Houston, TX",0.0,Database Developer - PostgreSQL
2178,Brown and Caldwell,"Houston, TX 77042 (West Houston area)",0.0,Senior Hydrogeologist/Groundwater Modeler
2179,"Sycamore Life Sciences, LLC","Houston, TX",0.0,Sales and Applications Specialist
2180,"Diversigen, Inc.","Houston, TX",90000.0,Biostatistician
2181,Talent Hound Solutions LLC,"Houston, TX",0.0,Data Engineer
2182,Universities Space Research Association,"Houston, TX 77058 (Pasadena area)",0.0,Postdoctoral Fellow in Planetary Surface Proce...
2183,General Assembly,"Houston, TX",0.0,Junior Web Development Instructor
2184,Genscape,"Houston, TX",0.0,Database Developer - PostgreSQL
2185,Brown and Caldwell,"Houston, TX 77042 (West Houston area)",0.0,Senior Hydrogeologist/Groundwater Modeler
2186,"Sycamore Life Sciences, LLC","Houston, TX",0.0,Sales and Applications Specialist
2187,TechGenomics,"Houston, TX",0.0,Geo Data Scientist
2188,"Kleinfelder, Inc.","Houston, TX 77034",0.0,Technical Environmental Professional
2189,Premier Oilfield Laboratories,"Houston, TX 77041",0.0,Senior Account Manager
2190,BioCardia/ Baylor,"Houston, TX",90000.0,flow cytometry specialist/ technician
2191,"Diversigen, Inc.","Houston, TX",82500.0,Bioinformatics Scientist
2192,Element Analytics,"Houston, TX",0.0,Forward Deployed Engineer
2193,Bodycote,"Houston, TX 77009 (North area)",0.0,Heat Treatment Quality Manager
2194,Bodycote,"Houston, TX 77009 (North area)",0.0,Business Development Specialist and Sales Engi...
2195,Premier Oilfield Laboratories,"Houston, TX 77041",0.0,"Director, US Sales"
2196,Uplink Talent,"Houston, TX",0.0,Senior Technical Recruiter (Contract)
2197,"Brunel Energy, Inc.","Houston, TX",0.0,Tech Marketing Evangelist
2198,CSI Specialty Group,"Houston, TX 77054 (Medical area)",67000.0,Sr. QC Analytical Chemist
2199,Razor,"Houston, TX",157500.0,Data Scientist

### Save your results as a CSV

In [1]:
indeed.to_csv('Indeed_job_offers.csv', header=True, encoding='UTF-8', index=False)

NameError: name 'indeed' is not defined

## Predicting salaries using Logistic Regression

#### Load in the the data of scraped salaries

In [224]:
import numpy as np

In [225]:
indeed.head()

,company,location,salari,title
0,AIG,"New York, NY",0.0,Statistical Machine Learning Scientist
1,Butterfly Network,"New York, NY",0.0,Machine Learning Research Scientist
2,Mount Sinai Health System,"New York, NY 10029 (Yorkville area)",0.0,Data Science Intern
3,Morgan Stanley,"New York, NY 10032 (Washington Heights area)",0.0,Quantitative Analyst
4,Morgan Stanley,"New York, NY 10032 (Washington Heights area)",0.0,BRM Securities Lending Quantitative Analyst

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

We could also perform Linear Regression (or any regression) to predict the salary value here. Instead, we are going to convert this into a _binary_ classification problem, by predicting two classes, HIGH vs LOW salary.

While performing regression may be better, performing classification may help remove some of the noise of the extreme salaries. We don't have to choice the `median` as the splitting point - we could also split on the 75th percentile or any other reasonable breaking point.

In fact, the ideal scenario may be to predict many levels of salaries,

In [275]:
#since our analysis is focused on the salary we don't need those jobs without salary
indeed_df = indeed[indeed['salari'] != 0]

In [276]:
indeed_df

,company,location,salari,title,level
7,State Street,"New York, NY",144000.0,Quantitative Analyst,High
11,QBE,New York State,136500.0,Data Science Lead (Credit Modeler),High
12,Goldman Sachs,"New York, NY 10282 (Tribeca area)",197500.0,Engineering - GSAM Tech - Data Science and Mac...,High
16,SiriusXM,"New York, NY 10104 (Midtown area)",111500.0,"Intern, Data Science - Engineering - Part-Time",High
18,McKinsey & Company,"New York, NY 10022 (Midtown area)",139000.0,Data Science Translator - TMT Sector,High
19,Oracle,"New York, NY",50000.0,Student / Intern,Low
67,State University of New York at Albany Res...,"New York, NY",13.0,Statistical Intern - Charter Schools Institute...,Low
97,ADMIN FOR CHILDREN'S SVCS,"Manhattan, NY",77035.0,Data Analyst,Low
108,DEPT OF HEALTH/MENTAL HYGIENE,"Queens, NY",62693.0,"Quality Assurance Analyst, Bureau of STD Preve...",Low
109,POLICE DEPARTMENT,"New York, NY",1933.0,SUMMER GRADUATE INTERN,Low
111,DEPT OF HEALTH/MENTAL HYGIENE,"Queens, NY",62693.0,"Quality Assurance Analyst, Bureau of STD Preve...",Low
112,POLICE DEPARTMENT,"New York, NY",1933.0,SUMMER GRADUATE INTERN,Low
126,DEPT OF HEALTH/MENTAL HYGIENE,"Queens, NY",77519.0,"Senior Data Analyst, Bureau of Environmental S...",Low
378,Jobspring Partners,"Chicago, IL",62500.0,Full Time Client-Facing Data Analyst (Remote),Low
385,Jobspring Partners,"Chicago, IL",62500.0,Full Time Client-Facing Data Analyst (Remote),Low
471,University of California Berkeley,"Berkeley, CA",55100.0,Research Data Analyst 2,Low
475,Blue Owl,"San Francisco, CA",250000.0,Senior Data Engineer,High
506,United Way,"San Francisco, CA 94108 (Financial District area)",56000.0,Research Analyst,Low
593,City & County of San Francisco,"San Francisco, CA 94103 (South Of Market area)",127218.0,IS Business Analyst Principal - Lead Data Engi...,High
595,University of California Berkeley,"Berkeley, CA",3043.0,Housing Research Analyst,Low
616,University of Texas at Austin,"Austin, TX",7499.0,Research Associate - Sedimentologist Stratigra...,Low
630,Travis County,"Austin, TX",32945.0,Educational Instructional Specialist,Low
631,Health & Human Services Comm,"Austin, TX",6100.0,Senior Statistical Analyst,Low
644,Railroad Commission of Texas,"Austin, TX",4150.0,Natural Resources Specialist II/III/IV/V - Two...,Low
652,National Instruments,"Austin, TX",107000.0,Software Engineer (MS – NG) for 2018,High
653,Google,"Austin, TX",107000.0,"Developer Advocate, Cloud Native",High
654,Visa,"Austin, TX",138000.0,Sr. Staff Data Software Engineer,High
658,Dept of State Health Services,"Austin, TX",5332.0,Zoonosis Control Epidemiologist,Low
664,Dept of State Health Services,"Austin, TX",5332.0,Zoonosis Control Epidemiologist,Low
670,University of Texas at Austin,"Austin, TX",6666.0,Engineering Scientist - Computational Geoscien...,Low
...,...,...,...,...,...
1973,University of Colorado,"Aurora, CO",60514.0,Clinical Operations Manager,Low
1986,"City of Boulder, CO","Boulder, CO",84479.0,Stormwater Quality Engineer or Scientist,Low
2002,MD Anderson Cancer Center,"Houston, TX",74500.0,Statistical Analyst - Biostatistics,Low
2004,MD Anderson Cancer Center,"Houston, TX",85500.0,Research Statistical Analyst - Biostatistics,Low
2023,Baylor College of Medicine,"Houston, TX",53000.0,Senior Research Subject Protection Analyst,Low
2026,MD Anderson Cancer Center,"Houston, TX",106250.0,Institute Research Investigator - Target Disco...,High
2048,Baylor College of Medicine,"Houston, TX",65000.0,Sponsored Research Grant Associate,Low
2055,Baylor College of Medicine,"Houston, TX",42000.0,Postdoctoral Associate,Low
2084,SymbaSync,"Houston, TX",135000.0,Data Scientist - Houston,High
2098,MD Anderson Cancer Center,"Houston, TX",122500.0,Institute Research Scientist – Target Biology,High
2100,MD Anderson Cancer Center,"Houston, TX",66500.0,Research Scientist - Cancer Biology,Low
2117,MD Anderson Cancer Center,"Houston, TX",122500.0,Institute Research Scientist - Translational B...,High
2119,MD Anderson Cancer Center,"Houston, TX",161000.0,Principal Institute Research Scientist – Precl...,High
2120,MD Anderson Cancer Center,"Houston, TX",161000.0,Principal Institute Research Scientist – Precl...,High
2121,MD Anderson Cancer Center,"Houston, TX",185750.0,Institute Group Leader - Drug Metabolism and P...,High
2127,MD Anderson Cancer Center,"Houston, TX",66500.0,Clinical Research Scientist - Surgical Oncolog...,Low
2136,MD Anderson Cancer Center,"Houston, TX",52000.0,Accountant II - Melanoma Medical Oncolgy,Low
2144,Riverway Business Services,"Houston, TX",14.0,Part-Time Administrative Assistant,Low
2145,Baylor College of Medicine,"Houston, TX",65000.0,Senior Staff Scientist,Low
2149,MD Anderson Cancer Center,"Houston, TX",84000.0,"Administrative Director, Research Program - Ra...",Low
2164,MD Anderson Cancer Center,"Houston, TX",161000.0,Principal Institute Research Scientist - Drug ...,High
2166,The University of Texas Medical Branch,"League City, TX 77573",3221.0,"Medical Lab Scientist, Lab Services - Victory ...",Low
2170,Prism Genomic Medicine Inc.,"Houston, TX",65000.0,Market Research Analyst,Low
2172,Petrophysical Modeling Lab,"Houston, TX",157500.0,Senior Data Scientist,High
2173,"Diversigen, Inc.","Houston, TX",90000.0,Biostatistician,Low
2180,"Diversigen, Inc.","Houston, TX",90000.0,Biostatistician,Low
2190,BioCardia/ Baylor,"Houston, TX",90000.0,flow cytometry specialist/ technician,Low
2191,"Diversigen, Inc.","Houston, TX",82500.0,Bioinformatics Scientist,Low
2198,CSI Specialty Group,"Houston, TX 77054 (Medical area)",67000.0,Sr. QC Analytical Chemist,Low
2199,Razor,"Houston, TX",157500.0,Data Scientist,High

In [288]:
#calculating the anual salary for all jobs
salary = []
for i in indeed_df.salari:    
    if i < 100:
        day = i * 8
        week = day * 5
        month = week * 4.3
        year = month * 12
        salary.append(year)
    elif 100 < i < 10000:
        anual = i * 12
        salary.append(anual)
    else:
        salary.append(i)

In [289]:
indeed_df.insert(column='Salary', loc=2 ,value= salary)
indeed_df = indeed_df.drop('salari',axis=1)

In [290]:
median = np.median(indeed_df.Salary)
median

84239.5

In [293]:
level = []
for e in indeed_df.Salary:
    if e > median:
        level.append('High')
    else:
        level.append('Low')

In [294]:
indeed_df.insert(loc=4, column='level',value=level)
indeed_df = indeed_df.drop('Level',axis=1)

#### Thought experiment: What is the baseline accuracy for this model?

The median $84239.5

#### Create a Logistic Regression model to predict High/Low salary using statsmodel. Start by ONLY using the location as a feature. Display the coefficients and write a short summary of what they mean.

In [ ]:
cities = ['New York', 'Chicago', 'San Francisco','Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas','Denver', 'Houston']

In [315]:
state = []
for i in indeed_df.location:
    if 'NY' in i:
        state.append('0')
    elif 'TX' in i:
        state.append('1')
    elif 'New York' in i:
        state.append('0')
    elif 'GA' in i:
        state.append('2')
    elif 'IL' in i:
        state.append('3')
    elif 'CA' in i:
        state.append('4')
    elif 'CO' in i:
        state.append('5')
    elif 'WA' in i:
        state.append('6')
    elif 'PA' in i:
        state.append('7')
    else:
        state.append('0')

In [316]:
indeed_df.insert(loc=4, column='state',value=state)

In [319]:
from sklearn.linear_model import LogisticRegression

In [324]:
lg = LogisticRegression()
lg.fit(indeed_df[['state']], indeed_df.level)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [326]:
score = lg.score(indeed_df[['state']], indeed_df.level)
score

0.4930555555555556

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title 
- or whether 'Manager' is in the title. 
- Then build a new Logistic Regression model with these features. Do they add any value?

In [333]:
position = []
for i in indeed_df.title:
    if 'Intern' in i:
        position.append(0)
    elif 'Junior' in i:
        position.append(1)
    elif 'Senior' in i:
        position.append(2)
    elif 'Manager' in i:
        position.append(3)
    else:
        position.append(i)

In [334]:
indeed_df.insert(loc=4, column='position',value=position)

In [357]:
position_df = indeed_df[(indeed_df['position'] == 0) | (indeed_df['position'] == 1)| (indeed_df['position'] == 2)| (indeed_df['position'] == 3)]
position_df.shape

(27, 7)

In [354]:
lg = LogisticRegression()
lg.fit(position_df[['position']], position_df.level)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [358]:
score = lg.score(position_df[['position']], position_df.level)
score

0.5925925925925926

In [360]:
position_df

,company,location,Salary,title,position,state,level
16,SiriusXM,"New York, NY 10104 (Midtown area)",111500.0,"Intern, Data Science - Engineering - Part-Time",0,0,High
19,Oracle,"New York, NY",50000.0,Student / Intern,0,0,Low
67,State University of New York at Albany Res...,"New York, NY",26832.0,Statistical Intern - Charter Schools Institute...,0,0,Low
126,DEPT OF HEALTH/MENTAL HYGIENE,"Queens, NY",77519.0,"Senior Data Analyst, Bureau of Environmental S...",2,0,Low
475,Blue Owl,"San Francisco, CA",250000.0,Senior Data Engineer,2,4,High
631,Health & Human Services Comm,"Austin, TX",73200.0,Senior Statistical Analyst,2,1,Low
722,Wunderman,"Austin, TX",70500.0,Senior Accountant,2,1,Low
724,City of Austin,"Austin, TX 78702 (Rosewood area)",30960.0,Intern -Environmental Scientist Associate,0,1,Low
729,Indeed,"Austin, TX 78731",127000.0,Senior Product Manager,2,1,High
744,University of Texas at Austin,"Austin, TX",60000.0,Research Engineering/ Scientist Associate IV -...,2,1,Low
745,University of Texas at Austin,"Austin, TX",102492.0,Engineering Scientist - Senior Software Define...,2,1,High
753,University of Texas at Austin,"Austin, TX",60000.0,Research Engineering/ Scientist Associate IV -...,2,1,Low
754,University of Texas at Austin,"Austin, TX",102492.0,Engineering Scientist - Senior Software Define...,2,1,High
764,DMGT,"Austin, TX",116000.0,Senior Data Scientist,2,1,High
768,DDMR,"Austin, TX",70000.0,Technical Product Manager - Analytics Solutions,3,1,Low
769,DDMR,"Austin, TX",70000.0,Technical Product Manager - Data Services,3,1,Low
890,"ExtraHop Networks, Inc.","Seattle, WA",109000.0,"Senior Data Scientist, Machine Learning",2,6,High
897,Porch,"Seattle, WA",147500.0,"Senior Manager, Data Science",2,6,High
936,3coast,"Bellevue, WA",137500.0,Senior Data Scientist,2,6,High
955,3coast,"Bellevue, WA",137500.0,Senior Data Scientist,2,6,High
1393,GlaxoSmithKline,"King of Prussia, PA",93939.0,Senior Scientist,2,7,High
1748,Workbridge Associates,"Dallas, TX",152500.0,"Senior JVM Engineer (Scala, Machine Learning)",2,1,High
1759,Workbridge Associates,"Dallas, TX",152500.0,"Senior JVM Engineer (Scala, Machine Learning)",2,1,High
1973,University of Colorado,"Aurora, CO",60514.0,Clinical Operations Manager,3,5,Low
2023,Baylor College of Medicine,"Houston, TX",53000.0,Senior Research Subject Protection Analyst,2,1,Low
2145,Baylor College of Medicine,"Houston, TX",65000.0,Senior Staff Scientist,2,1,Low
2172,Petrophysical Modeling Lab,"Houston, TX",157500.0,Senior Data Scientist,2,1,High

#### Rebuild this model with scikit-learn.
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [361]:
from sklearn import linear_model, metrics, model_selection

In [362]:
lm = linear_model.LinearRegression()

In [364]:
lm.fit(X=position_df[['position','state']], y = postion_df['Salary'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [367]:
lm.score(X=position_df[['position','state']], y = postion_df['Salary'])

0.15802787055225964

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy, AUC, precision and recall of the model. 
- Discuss the differences and explain when you want a high-recall or a high-precision model in this scenario.

In [ ]:
## YOUR CODE HERE

#### Compare L1 and L2 regularization for this logistic regression model. What effect does this have on the coefficients learned?

In [ ]:
## YOUR CODE HERE

In [ ]:
## YOUR CODE HERE

#### Continue to incorporate other text features from the title or summary that you believe will predict the salary and examine their coefficients

#### Take ~100 scraped entries with salaries. Convert them to use with your model and predict the salary - which entries have the highest predicted salaries?

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate the logistic regression model using these. Does this improve the model performance? 
- What text features are the most valuable?

In [ ]:
## YOUR CODE HERE

In [ ]:
## YOUR CODE HERE

#### Re-test L1 and L2 regularization. You can use LogisticRegressionCV to find the optimal reguarlization parameters. 
- Re-test what text features are most valuable.  
- How do L1 and L2 change the coefficients?

In [ ]:
## YOUR CODE HERE